---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import SideMenu from "../components/SideMenu.astro";


const allPosts = await getCollection("posts");
const posts = allPosts.sort((a, b) => {
  const dateA = a.data.publishDate || new Date(0);
  const dateB = b.data.publishDate || new Date(0);
  return dateB.getTime() - dateA.getTime();
});
---

<BaseLayout title="Inicio">
  <SideMenu slot="side-menu" />
  <section class="nes-container is-dark with-title">
    <h1 class="title">Bienvenido a Codex Barba</h1>
    <div class="nes-balloon from-left is-dark">
      <p>
        Una wiki retro hecha con café, Astro y NES.css por <a
          href="https://programacion-es.dev"
          target="_blank"
          >Programación en español <img
            src="logo 8bit.webp"
            alt="logo programación en español"
            class="pee-logo"
          /></a
        >
      </p>
    </div>
  </section>

  <section class="nes-container is-dark with-title" style="margin-top: 2rem;">
    <p class="title">Contenido reciente</p>

    {
      posts.length > 0 ? (
        <ul class="nes-list is-disc">
          {posts.map((post) => {
            const slugName = post.slug.split("/").pop();
            return (
              <li>
                <a href={`/${slugName}`} class="nes-text is-primary">
                  {post.data.title}
                </a>
                <p>{post.data.description}</p>
              </li>
            );
          })}
        </ul>
      ) : (
        <p>No hay entradas recientes, vuelve más tarde =)</p>
      )
    }

    <a href="/blog" class="nes-btn is-primary" style="margin-top: 1rem;"
      >Ver todas las entradas</a
    >
  </section>
</BaseLayout>

<style>
  .pee-logo {
    width: 30px;
    height: auto;
    vertical-align: baseline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Press Start 2P";
    line-height: 1.4;
    font-size: clamp(14px, 1.8rem, 20px) !important;
  }

  p,
  li,
  a {
    font-family: "Press Start 2P";
    font-size: clamp(14px, 1.4rem, 1rem) !important;
    line-height: 1.4;
    letter-spacing: 0.5px;
  }

  @media (max-width: 676px) {
    .nes-container {
      padding: 1.5rem 0;
      border-color: transparent;
    }
  }
</style>
