---
export let title;
export let date;
export let summary;
---

<div class="nes-container is-rounded">
  <h3 class="nes-text is-primary">{title}</h3>
  <p class="nes-text is-dark">Publicado el: {date}</p>
  <p class="nes-text">{summary}</p>
  <button class="nes-btn is-success">Leer más</button>
</div>
